<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @community.name %>
</p>

<p>
  <b>Description:</b>
  <%= @community.description %>
</p>

<h3>Topics</h3>
<ul>
  <% @community.community_topics.each do |topic| %>
    <li><%= link_to topic.name, [@community, topic] %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
